@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');

body {
    background-color: #1e73be;
    font-family: Arial, sans-serif;
    color: #0d2c54;
    margin: 0;
}

.custom-container {
    background-color: #f1f1f1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

h1, h2, h3 {
    font-family: 'Rubik Distressed', cursive;
    font-weight: bold;
}

h2 {
    font-variant: small-caps;
} 